<h2 id="title">Welcome to Ember.js</h2>
{{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
  {{#link-to 'login'}}Login{{/link-to}} <br>
  {{#link-to 'register'}}Register{{/link-to}}
{{/if}}
<br/>

{{outlet}}

<div>
  this is the footer of every page <br>
  The quick brown fox jumps over the lazy dog3


</div>  